#midContainer {
  position: relative;
}

#optList {
  z-index: 999;
  display: flex;
  position: absolute;
  /* visibility: hidden; */
  border: 1px rgb(0, 0, 0, 0.5) solid;
  border-radius: 2px;
}

#optList .optItem {
  background-color: whitesmoke;
  padding: 3px;
  cursor: pointer;
}

#optList .optItem:hover {
  background-color: rgba(66, 133, 137, 0.532);
  color: aliceblue;
}

#optList .optItem:active {
  background-color: rgba(105, 207, 212, 0.532);
  color: aliceblue;
}

#optList .optItem:not(:last-child) {
  border-right: 1px rgb(0, 0, 0, 0.5) solid;
}

.choose {
  outline: 3px rgb(33, 183, 243) dotted;
  animation: chooseAnimation 0.5s infinite linear alternate;
}

@keyframes chooseAnimation {
  from {
    outline-offset: 0;
  }

  to {
    outline-offset: 2px;
  }
}

.hoverLeft {
  border-left: 3px solid rgb(106, 178, 209) !important;
}

.hoverTop {
  border-top: 3px solid rgb(106, 178, 209) !important;
}

.hoverRight {
  border-right: 3px solid rgb(106, 178, 209) !important;
}

.hoverBottom {
  border-bottom: 3px solid rgb(106, 178, 209) !important;
}
