.componentWrapper {
  width: 15rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  border: 2px solid #d6dbdcc6;
  border-radius: 1rem;
  cursor: move;
  margin: 1.5rem auto;
  background-color: #b3b3b324;
  /* transition: border 0.5s linear,box-shadow 0.5s linear;
    /* Safari */
  /* -webkit-transition:border 1s linear,box-shadow 1s linear; */
}
.componentWrapper:hover {
  /* box-shadow: 0px 0px 7px 3px #e6f7ff; */
  border: 2px solid #1890ff4d;
}
