.componentWrapper {
  width: 15rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  border: 1px solid #d6dbdcc6;
  border-radius: 0.3rem;
  cursor: move;
  margin: 1.5rem auto;
  background-color: #fff;
  /* transition: border 0.5s linear,box-shadow 0.5s linear;
    /* Safari */
  /* -webkit-transition:border 1s linear,box-shadow 1s linear; */
}
.componentWrapper:hover {
  /* box-shadow: 0px 0px 7px 3px #e6f7ff; */
  background-color: #c6e2ff;
  color: #409eff;
}
