.rightPanel {
  height: 100vh;
  min-width: 25vw;
  flex-grow: 1;
}
.flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text-config-item {
  margin: 5px 0;
}
.rightFormContainer {
  height: calc(100vh - 4rem);
  width: 100%;
  padding: 14px;
  box-sizing: border-box;
}
