@import "~antd/dist/antd.css";
#App {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

html body #root .App {
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 600;
  border-bottom: 2px solid #c8161d;
  height: 5rem;
  box-sizing: border-box;
  padding: 0 2.4rem;
}

.content {
  display: flex;
}
/* 去权重 */
.ant-tabs-left,
.ant-tabs-tabpane {
  padding-left: 0 !important;
}
