#App {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

html body #root .App {
  min-height: 100vh;
}

.content {
  display: flex;
}
/* 去权重 */
.ant-tabs-left,
.ant-tabs-tabpane {
  padding-left: 0 !important;
}
