/*
::-webkit-scrollbar — 整个滚动条.
::-webkit-scrollbar-button — 滚动条上的按钮 (上下箭头).
::-webkit-scrollbar-thumb — 滚动条上的滚动滑块.
::-webkit-scrollbar-track — 滚动条轨道.
::-webkit-scrollbar-track-piece — 滚动条没有滑块的轨道部分.
::-webkit-scrollbar-corner — 当同时有垂直滚动条和水平滚动条时交汇的部分.
::-webkit-resizer — 某些元素的corner部分的部分样式(例:textarea的可拖动按钮).
*/

/* 滚动条上的滚动滑块. */

::-webkit-scrollbar-thumb:horizontal {
  /*水平滚动条的样式*/
  width: 6px;
  background-color: #eaeef1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:vertical {
  /*垂直滚动条的样式*/
  width: 6px;
  height: 8px;
  background-color: #eaeef1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  /*滚动条的hover样式*/
  height: 8px;
  background-color: #d4dde1;
  border-radius: 4px;
}

/* 滚动条没有滑块的轨道部分. */
::-webkit-scrollbar-track-piece {
  background-color: #eaeef1; /*滚动条的背景颜色*/
  border-radius: 0; /*滚动条的圆角宽度*/
}

/* 整个滚动条. */
::-webkit-scrollbar {
  width: 6px; /*滚动条的宽度*/
  height: 8px; /*滚动条的高度*/
}
